<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.Textbender"
      tools:targetApi="33">
    <activity
        android:name=".SettingsActivity"
        android:exported="true"
        android:label="@string/title_activity_settings">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
          android:name="android.app.lib_name"
          android:value="" />
    </activity>

    <activity-alias
        android:name=".ContextMenuAction"
        android:label="@string/app_name"
        android:enabled="false"
        android:targetActivity=".ProcessTextActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.PROCESS_TEXT"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
    </activity-alias>

    <activity-alias
        android:name=".ShareAction"
        android:label="@string/app_name"
        android:enabled="false"
        android:targetActivity=".ProcessTextActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity-alias>

    <activity-alias
        android:name=".UrlAction"
        android:label="@string/app_name"
        android:enabled="false"
        android:targetActivity=".ProcessTextActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="textbender" />
      </intent-filter>
    </activity-alias>

    <activity
        android:name=".ProcessTextActivity"
        android:label="@string/app_name"
        android:exported="true"
        android:noHistory="true"
        android:launchMode="singleInstance"
        android:theme="@android:style/Theme.NoDisplay">
    </activity>

    <service
        android:name=".TextbenderService"
        android:exported="true"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>

      <meta-data
          android:name="android.accessibilityservice"
          android:resource="@xml/accessibility_service_config" />
    </service>
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="http" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>

</manifest>
